<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Emanetlerim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let book of books">
    <ion-card-header>
      <img style="width: 100%;height: auto;" [src]="getImageUrl(book)" alt="">
      <ion-card-subtitle>{{book.Yazar}}</ion-card-subtitle>
      <ion-card-title>{{book.Ad}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>Tür: {{book.Tur}}</div>
      <div>ISBN: {{book.Isbn}}</div>
      <div>
        <ion-button (click)="ver(book)" expand="block" fill="clear"
          shape="round">
          İade Et
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
